<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			.done {
				text-decoration: line-through;
				color: #ccc;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h1>Todo</h1>
			<p>{{ todos.filter( todo=>!todo.done).length }} of {{ todos.length }} remaing [<a href="#" @click="End">archive</a>]</p>
			<p v-for="(todo, index) in todos">
				<input type="checkbox" v-model="todo.done">
				<span v-bind:class="{done: todo.done}">{{ todo.title }}</span>
				<button @click="Remove(index)">X</button>
			</p>
			<input type="text" placeholder="add todo lines" v-model="todos.title" @keydown.enter="Add">
			<button @click="Add">Add</button>
		</div>
		<script src="node_modules/vue/dist/vue.js"></script>
		<script type="text/javascript">
			let todos = [{
					id: 1,
					title: 'bulid an AngularJs app',
					done: false
				},
				{
					id: 2,
					title: '吃饭',
					done: false
				},
				{
					id: 3,
					title: '睡觉',
					done: false
				},
				{
					id: 4,
					title: '打豆豆',
					done: false
				}
			]
			const app = new Vue({
				el: '#app',
				data: {
					todos,
				},
				methods: {
					
					Add() {
						const todos = this.todos
						if (!todos.title) {
							return
						}

						todos.push({
							id: todos[todos.length - 1] + 1,
							title: todos.title,
							done: false
						})

						todos.title = ''
					},

					Remove(index) {
						todos.splice(index, 1)
					},

					End() {
						todos.map(todo=> todo.done = false)
					}
				}
			})
		</script>
	</body>
</html>
