<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        姓氏:<input type="text" v-model="surname"><br>
        名字:<input type="text" v-model="name"><br>
        姓名:<span>{{ surname }}{{ name }}</span>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                surname: '张',
                name: '武杨'
            }
        })
    </script>
</body>
</html>